.pi-btn.bg-color-primary-hover {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 5px 30px;
  border-radius: 0;
  box-shadow: none;
  background-color: #002a4f;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 0;
  font-weight: 700;
  text-decoration: none;
}
